/* You can add global styles to this file, and also import other style files */
/* Base Styles */

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(
      315deg
    , rgba(25,59,126,1) 0%, rgba(255,255,255,1) 100%);
  color: #262626;
  padding-bottom: 3rem;
}

.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}
